* {
    box-sizing: border-box;
}

body {
    text-align: center;
    margin-top: 0px;
    font-family: BlinkMacSystemFont,helvetica,arial,sans-serif;    
    line-height: 1.5;
    font-size: 1rem;
    margin: 0;
}

p.bold {
    font-weight: bold;
    font-family: 'Martel Sans', sans-serif;
}

p.contrast {
    background-color: #0303037a;
    border-radius: 5px;
    padding: 1px 5px;
}

nav {
    text-align: left;
    padding-top: 1px;
    background-color: rgb(12, 12, 12);
    margin-left: -8px;
    padding-bottom: 3px;
    border-radius: 2px;
}

nav a {
    padding-left: 12px;
    font-size: 37px;
    text-decoration: none;
    color: rgb(216, 216, 216);
    font-family: system-ui;
    transition: padding 0.3s ease-out;
}

.navbar-link:hover {
    padding: 25px;
}

nav a.active {
    color: rgb(77, 75, 75);
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul::after {
    content: "";
    display: table;
    clear: both;
}

/* &Stunnings categories*/

.sous{
    border-radius: 3px;
    user-select: none;
    display: none;
    position: absolute;
    background-color: rgb(12, 12, 12);
    padding-left: 45px;
    padding-right: 10px;
}

.deroulant:hover .sous {
    display: block;
}

.sous li a {
    float: none;
    text-align: left;
    margin-left: -45px;
    font-size: 30px;
}

.sous li a:hover {
    padding-left: 5px;
    padding-right: 10px;
}

h2 {
    font-size: 45px;
    font-family: cursive;
    font-weight: normal;
    text-decoration: underline;
    color: rgb(236, 235, 235);
    text-align: center;    
}

p {
    font-size: 25px;
    font-family: cursive;
    color: #202224;
}

.scratch-project {
    text-align: center;
    background-color: rgba(62, 67, 75, 0.75);
    padding-bottom: 20px;
    margin-right: calc(40% - 575px);
    margin-bottom: -50px;
    margin-left: calc(60% - 575px);
    width: 575px;
}

.scratch-project-title {
    font-size: 1.75rem;
    font-weight: 500;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #575e75;
    margin-left: 25px;
    background-color: rgba(196, 216, 245, 0.1);
}

a {
    text-decoration: none;
    color: #202224
}

.framed:hover {
    border-color: #495685;
}

.framed, .framed .button {
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    color: #495685;
    background-color: transparent;
    font-weight: 600;
    letter-spacing: 1px;
    border-color: #495685;
    line-height: normal;
    text-align: center;
    padding: 25px 46px;
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    border-radius: 5px;    
}

.framed .button {
    transition: 0.25s background-color linear, 0.3s color linear;
    text-transform: uppercase;
    margin-left: 0px;
    margin-top: 20px;
    cursor: pointer;
}

.framed .button:hover {
    color: #202224;
    background-color: #495685;
}

.framed {
    transition: 0.4s border-color linear;
    border-color: #4d5b8d40;
}

.bot-picture {
    width: auto;
    height: 10rem;
    display: block;
    margin-left: 150px;
}

.dbl-frame {
    margin-left: 525px;
    margin-top: 50px;
}

.secodary-title {
    color: rgb(13, 17, 22);
    text-align: center;
    font-size: 45px;
    font-family: Verdana, sans-serif;
    text-decoration: underline;
}

.commands-category {
    justify-content: center;
    display: flex;
    list-style: none;
    margin-bottom: 50px;
    /*margin-left: 12%;
    width: 69%;
    border-bottom-color: #c7c2c2be;
    border-bottom-style: solid;
    border-bottom-width: 1px;*/
    
}

.commands-category li {
    padding-right: 15px;
    cursor: pointer;
}

.commands-category li a {
    color: rgba(97, 95, 95, 0.87);
    font-size: 230%;
    font-family: BlinkMacSystemFont,helvetica,arial,sans-serif;
    transition: all 0.2s ease-out;
}

.commands-category li a:hover {
    color: rgba(76, 98, 151, 0.87);
    padding-right: 18px;
    padding-left: 10px;
}

.commands-category li a.active {
    color: rgba(3, 3, 5);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    /*width: 66.6666%;
    margin-bottom: 5%;*/
    display: inline;
    margin-left: unset;
}

table.swipe {
    margin-left: -50%;
}

table td, th{
    border: 2px solid rgba(88, 108, 139, 0.918);
    text-align: left;
    padding: .5em .75em;
}

table td {
    font-weight: 400;
    line-height: 1.5;
}

table tbody {
    display: none;
}

table tbody.active {
    display: table-row-group;
}

code {
    background-color: #7979794a;
    font-size: 0.875em;
    font-weight: normal;
    padding: 0.25em 0.5em 0.25em;
    color: #e3e2e2;
}

.deroulant {
    cursor: pointer;
}

.gif {
    width: 64%;
    margin-left: 18%;
    height: auto;
}

.table {
    text-align: center;
    margin-bottom: 5%;
}

/*div.contour-img {
    max-width: 38vw;
    position: relative;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.contour-img img{
    margin-top: 3.5%;
    text-align: center;
    border-style: solid;
    border-width: 1rem;
    border-color: rgba(109, 107, 107, 0.09);
}

.next, .previous {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    padding: 16px;
    color: rgb(216, 216, 216);
    font-weight: bold;
    font-size: 2rem;
    user-select: none;
    transition: background-color 0.3s linear;
}

.next {
    margin-left: 42.6rem;
}

.next:hover, .previous:hover {
    background-color: rgba(24, 24, 24, 0.534);
}*/


.img-container p {
    font-weight: bold;
    left: 6.5vw;
    position: absolute;
    color: rgb(0, 0, 0);
    top: 18px;
}

.slide {
    width: 100%;
    height: 45vh;
}

div.contour-img {
    position: inherit;
    width: 100%;
    height: 45vh;
}

div.contour-img > div {
    display: none;
    animation: appears 0.75s;
}

div.contour-img img {
    border-bottom-style: solid;
    border-bottom-width: 5px;
}

div.contour-img > div > p {
    font-family: 'Martel Sans', sans-serif;
    font-size: 2rem;
    position: absolute;
    color: rgba(255, 255, 255, 0.91);
    left: 50%;
    transform: translate(-50%, -50%);
}

div.contour-img > div > p > a {
    color: rgb(174, 174, 174);
    text-decoration: underline;
}

div.contour-img > div > p.slide-p-1 {
    top: 15vh;
    animation: 0.75s left-to-rightLeft;
}

div.contour-img > div > p.slide-p-2 {
    top: 63vh;
    animation: 0.75s right-to-leftLeft;
}

div.contour-img > div.active {
    display: block;
}

.next, .previous {
    cursor: pointer;
    position: absolute;
    margin-top: -22px;
    padding: 16px;
    color: rgb(216, 216, 216);
    font-weight: bold;
    font-size: 2rem;
    user-select: none;
    background-color: #2526257a;
    transition: background-color 0.3s linear;
}

.slide-nb1 {
    top: 32vh;
}

.slide-nb2 {
    top: 75vh;
}

.next {
    animation: left-to-rightRight 0.75s;
    right: 0;
}

.next.slide-nb1 {
    animation: left-to-rightRight 1s;
}

.next.slide-nb2 {
    animation: right-to-leftRight 0.75s;
}

.next:hover, .previous:hover {
    background-color: #2526259b;
}

div.left-to-right {
    animation: left-to-rightMarginLeft 1s;
}

div.right-to-left {
    animation: right-to-leftMarginLeft 1s;
}

@keyframes left-to-rightRight {
    from {
        right: 100%;
    }
    to {
        right: 0;
    }
}

@keyframes left-to-rightMarginLeft {
    from {
        margin-left: -100%
    }
    to {
        margin-left: 0;
    }
}

@keyframes left-to-rightLeft {
    0% {
        left: -100%
    }
    90% {
        left: 50%;
    }
    100% {
        transform: translate(-50%, -50%);
    }
}

@keyframes right-to-leftRight {
    from {
        right: -100%;
    }
    to {
        right: 0;
    }
}

@keyframes right-to-leftMarginLeft {
    from {
        margin-left: 100%
    }
    to {
        margin-left: 0;
    }
}


@keyframes right-to-leftLeft {
    0% {
        left: 150%
    }
    90% {
        left: 50%;
    }
    100% {
        transform: translate(-50%, -50%);
    }
}

@keyframes appears {
    from {
        opacity: 0.1
    }
    to {
        opacity: 1
    }
}